################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ILT_1_5_3/bin/Debug/Ded.mtl
/ILT_1_5_3/bin/Debug/Ded.obj
