<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="FileGet" value="0;File Get"/>
    <add key="WorkBegin" value="1;Work Begin" />
    <add key="Done" value="2;Done" />
    <add key="Error" value="3;Error" />
  </appSettings>
  
  <connectionStrings>
    <add 
      name="ConnecStr" 
      connectionString="Data Source=IS7-PC;Initial Catalog=ILDB;Persist Security Info=True;User ID=IL;Password=1"
      providerName="System.Data.SqlClient"
    />
  </connectionStrings>
    
    <system.web>
      <httpRuntime maxRequestLength="1048576" targetFramework="4.5" />
      <compilation debug="true" targetFramework="4.5" />
    </system.web>


  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
